@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Open+Sans&family=Oswald:wght@600&display=swap");
::-webkit-scrollbar {
  width: 10px;
  background: #ece8e1;
}

::-webkit-scrollbar-thumb {
  background: #15273c;
}

input[type=text]:hover, input[type=email]:hover, select:hover, textarea:hover, input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus, input[type=number]:focus, input[type=number]:hover {
  border-color: #ff4655;
}

input[type='radio'], input[type='checkbox'] {
  accent-color: #ff4655;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], input[type=email], select, textarea {
  padding: 10px;
  margin: 7px 0;
  width: 70%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  background-color: transparent;
}

input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus {
  background-color: transparent;
}

input[type=number] {
  padding: 10px;
  margin: 7px 0;
  width: 30%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  background-color: transparent;
  outline: none;
}

input[type=number]:focus {
  background-color: var(--white);
}

input[type='radio'] {
  border: 0px;
  height: 10px;
}

input[type=submit] {
  position: relative;
  background-color: #ff4655;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  color: #ece8e1;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 2em;
  cursor: pointer;
}

#container, #main, #sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#form-container, #thankyou-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/bg.png");
  background-color: #111111;
}

#container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ece8e1;
  margin: 5vh auto;
  height: 85vh;
  width: 70vw;
}

#main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ece8e1;
  height: 100%;
  width: 100%;
}

#sidebar {
  background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt8353cbd513234cc6/6261bc2e1574214ead420a52/Valorant_2022_E4A3_PlayVALORANT_PlayValorantHomepage.jpg");
  background-size: auto 100%;
  background-position: 63% 0%;
  background-repeat: no-repeat;
  background-color: #15273c;
  height: 100%;
  width: 40%;
}

#form-container, #thankyou-container {
  background-color: #ece8e1;
  height: 100%;
  width: 60%;
}

#thankyou-container {
  margin-left: 3%;
}

#title, #thankyou {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: #111111;
  margin-top: 5px;
}

#thankyou {
  text-transform: uppercase;
}

#disclaimer {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.5rem;
  color: #111111;
  word-spacing: 10px;
}

.form-block {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  color: #111111;
  width: 90%;
  margin-left: 6%;
  margin-bottom: 3%;
}

.form-section {
  width: 50%;
  margin-left: 6%;
  margin-bottom: 1%;
  margin-top: 4%;
  border-bottom: 2px solid #15273c;
}

.form-section h2 {
  font-family: "Maven Pro", "Arial", sans-serif;
  letter-spacing: -0.5px;
  font-size: 1.5rem;
  font-style: bold;
  color: #ff4655;
}
/*# sourceMappingURL=input.css.map */